
.DS_Store
.AppleDouble
.LSOverride


._*


.Spotlight-V100
.Trashes


*.swp
*.swo
.metadata_never_index
*.localized


*.zip


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea/
.vscode/
*.sublime-workspace
*.sublime-project


*.log
temp/
*.tmp


!.gitignore
